/* .client-main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left-side-client {
  width: 50%;
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.right-side-client {
  width: 70%;
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-logo-page {
  width: 40%;
}

.view-insta {
  margin-top: 20px;
  width: 40%;
}

.text-data {
  width: 70%;
  margin: auto; 
}

.grid-img {
  width: 60%;
} */